<h2>File Upload & Image Preview</h2>

<!-- Upload  -->
<form id="file-upload-form" class="uploader">
  <input id="file-upload" type="file" name="fileUpload" accept=".xls,.xlsx,.csv"
  (change)="fileUpload($event)" />
  <div class="alert alert-danger" role="alert" *ngIf="show">
    Archivo con errores!
  </div>
  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Seleccion un archivo</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Subir</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form>
<div>
  <table>
    <tr> <th>Codigo</th>
      <th>monto</th>
     </tr>
     <tr *ngFor="let item of datos">
       <td>{{ item.codigo}}</td>
       <td>{{ item.monto}}</td>
     </tr>
   
  </table>
</div>